p{
    padding: 5px 5px;
    color: rgb(202, 202, 202);
    font-size: 20px;
    font-family: sans-serif;
}

h1{
color: goldenrod;
font-family: sans-serif;
height: 40px;
}


.title{
    margin-right: auto;
}

.menuitem  {
    list-style: none;
    display: inline;
    padding: 15px;
}
body{
    background-image: url("https://www.pakutaso.com/shared/img/thumb/TOASH0I9A3698.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(10, 10, 10, 0.4);    
}
.background-image{
    text-align: center;
    
    width: 98vw;
    height: 100vh;
}