p{
    padding: 5px 5px;
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-family: sans-serif;
}

h1{
color: goldenrod;
font-family: sans-serif;
height: 40px;
}

a:link {color: rgb(2, 121, 121);}
a:visited{color:rgb(3, 143, 96);}
a:hover{color: rgb(0, 255, 64);}
a:active{color: rgb(1, 50, 90);}
.title{
    margin-right: auto;
}

.menuitem  {
    list-style: none;
    display: inline;
    padding: 15px;
}
body{
    background-image: url("https://www.pakutaso.com/shared/img/thumb/TOASH0I9A3698.jpg");
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(10, 10, 10, 0.4);
    min-height: 100vh; /* 最小の高さをビューポートの高さに設定 */
    overflow-x: hidden;  /* 水平スクロールバーを非表示にする (必要ならね)*/
    margin: 0; /* body のデフォルトマージンを削除 */  

}
.background-image{
    text-align: center;
    
    width: 98vw;
    height: 100vh;
}

html{
    height:  100%;
    overflow-x: hidden;
}