p{
    padding: 5px 5px;
    color: rgb(202, 202, 202);
    font-size: 20px;
    font-family: sans-serif;
}

h1{
color: goldenrod;
font-family: sans-serif;
height: 40px;
}


.title{
    margin-right: auto;
}

.menuitem  {
    list-style: none;
    display: inline;
    padding: 15px;
}
body{
    background-image: url("pics/WP.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.background-image{
    text-align: center;
    background-color: rgba(10, 10, 10, 0.4);
    width: 98vw;
    height: 100vh;
    margin-bottom: 100px;
    backdrop-filter: blur(15px);
}